@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');



body {
    
    overflow-x: hidden;
    height: 100%;
    
    background-repeat: no-repeat;
    background-size: 100% 100%
}

h5{
    color: #6B99C7 !important;
    margin-top: 20px;
}

.card {
    padding: 30px 40px;
    margin-top: 20px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}
.but1 button:hover {
  background-color: #3a6897 !important;
}

.file{
    margin-top: 30px;
    margin-left: 100px;
    padding-left: 40px;
}


#mainnav{
  font-size: 1.5rem;
  font-weight: 100;
}

#mainnav .navbar-brand{
color: #ffffff;
font-size: 1.5rem;
font-weight: 400;
font: bold;
}

#mainnav .nav-link{
color: rgb(0, 0, 0);
}

#mainnav .nav-link:hover{
  color:#ffffff;
  }

#heading span{
  color: #ffffff;
}
#heading h1{
  font-weight: 100;
  font-size: 3rem;
}

.navbar{
  background-color: #6B99C7;
}

.btn1{
  background-color:#6B99C7; 
  color: white;
}

@media (max-width: 1200px){
  #heading h1{
  font-weight: 500;
  font-size: 2.5rem;

  }
}
@media(max-width: 700px) {
    #form{
    display: none !important;
    visibility: hidden;
  }

  


}
@media  (max-width:600px){
  #progress{
    display:none !important;
    visibility: hidden !important;
  }
  
}








.footer-container .row{
  display:flex;
  justify-content:center
  

}

.footer{
  background: #6B99C7;
  color: #000000;
  font-size: 14px;
  padding: 60px 0 30px;
 
}

.footer .row{
  margin:0 100px
}

.footer p {
  color: #000000;

}

.footer h3{
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
  min-width:250px;
  margin-bottom: 20px;
  
}
.footer-col-1{
 flex-basis:25%;

}
.footer-col-2{
  flex-basis: 25%;
  text-align: center;
}
.footer-col-1 img{
      width: 180px;
      margin-bottom: 20px;
}
.footer-col-3 , .footer-col-4{
flex:25%;
text-align: center;
}

ul{
  list-style-type: none;
}
.app-logo{
  margin-top: 20px;
}

.app-logo img{
  width: 140px;
}

.footer hr {
  border: none;
  background: #000000;
  height: 3px;
  margin: 20px 0;

}

.footer p{
  text-align: center;
}
h2 {
  width: 1000px;
}

.row-3{
  display: flex;
  
  justify-content:space-between;
  margin: 100px auto 50px;
}

select {
  border: 1px solid #ff523b;
  padding: 5px;
}

select:focus{
  outline: none;
}

.icon{
  display: flex;
  justify-content: center;
}